*{
    margin: ;
}

body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }

.banner_text{
    margin-bottom: 300px;
}
.blockquote-footer{
    font-size: 14px;
}
.blockquote{
    font-size: 18px;
}


    